div {
  text-shadow: 1px 1px black;
}
img {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 40px;
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px rgba(19, 98, 200, 0.835);

  text-shadow: 1px 1px black;
}

.city-sunrise,
.city-sunset {
  display: flex;
  align-items: center;
}

.city-sunrise h2,
.city-sunset h2 {
  height: 35px;
  text-align: center;
  margin-right: 10px;
}

.city-sunset {
  margin-bottom: 25px;
}

.city-temperature {
  margin-bottom: 5px;
}

.city-description {
  margin-bottom: 20px;
}
